<a href="https://colab.research.google.com/github/joshuaashley007/joshuaashley007/blob/main/BASICS%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x=int(input('please type your phone number: '))
y=input('please type your full name: ')
print('your entered phone number is',x)
print('your entered name is',y)

please type your phone number: 9876965
please type your full name: ljhfjf
your entered phone number is 9876965
your entered name is ljhfjf

In [9]:
x=int(input('enter your first mark'))
y=int(input('enter your second mark'))
z=int(input('eneter your third mark'))
sum=x+y+z
print('the total mark is',sum)
print('the first mark is',x)
print('the second mark is',y)
print('the third mark is',z)
print('the average of marks is',sum/3)

enter your first mark43
enter your second mark32
eneter your third mark34
the total mark is 109
the first mark is 43
the second mark is 32
the third mark is 34
the average of marks is 36.333333333333336

In [10]:
x=int(input('enter your number'))
y=int(input('enter your 2nd number'))
if x>y:
  print(x,'is bigger')
else:
  print(y,'is bigger')

enter your number12
enter your 2nd number23
23 is bigger

In [28]:
x=int(input('enter the first number'))
y=int(input('enter the second number'))
z=int(input('enter the third number'))
if x>y and x>z:
  print(x,'is bigger')
if y>x and y>z:
  print(y,'is bigger')
if z>x and z>y:
  print(z,'is bigger')

enter the first number3
enter the second number4
enter the third number1
4 is bigger

In [37]:
x=int(input('enter a number'))
if x%2==0:
  print('number is even')
else:
  print(x,'number is odd')

enter a number6
number is even

In [39]:
for a in range(0,11):
  print(a)

0
1
2
3
4
5
6
7
8
9
10

In [44]:
for a in range(0,11,2):
  print(a)

0
2
4
6
8
10