<a href="https://colab.research.google.com/github/joshuaashley007/joshuaashley007/blob/main/feb8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
data=files.upload()

In [ ]:
import pandas as pd
dataframe=pd.read_csv('advertising.csv')
dataframe.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
x=dataframe[['TV','Radio','Newspaper']]
y=dataframe['Sales']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=100)
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)
print("Intercept: ",mlr.intercept_)
print("Coefficients: ")
print(list(zip(x,mlr.coef_)))

Intercept:  4.32665849979311
Coefficients:
[('TV', 0.05376706263124494), ('Radio', 0.10759325861225662), ('Newspaper', 0.007216292714076061)]

In [ ]:
from sklearn import metrics
r_squared=mlr.score(x,y)*100
print("R Squared",r_squared)

R Squared 90.05735179400625

In [ ]:
predicted_y_values=mlr.predict(x_test)
print(predicted_y_values)

[ 9.29656376 20.86266794 16.41383209 20.06188347 21.57811936 16.14516808
 13.53435431 15.37018261 20.73425493 20.90298489 12.24874712 20.67691055
  8.17597289 16.7628854  10.47164879  9.97717474 16.24920554 14.57105348
 17.13040572 12.54763147 18.48155022 12.12326794 20.34668286 17.71631395
 16.68640525 21.46670421 20.07448783 10.79399098 19.00380013 14.75759269
 13.04912561  9.04369779 12.08768991 16.58854817  8.39587322 13.97446877
  9.93069566 14.23731253 16.74480374 17.16828139 18.86294315 15.44778669
 15.76209168 16.8534917  12.98199629 10.47235893 10.58228383 20.78493409
 10.13853     6.87824019]

In [ ]:
mean_absolute_error= metrics.mean_absolute_error(y_test,predicted_y_values)
print("Mean Absolute Error : ",mean_absolute_error)

Mean Absolute Error :  1.3525294007563822

In [ ]:
mean_squared_error=metrics.mean_squared_error(y_test,predicted_y_values)
print("Mean Squared Error",mean_squared_error)

Mean Squared Error 3.0521059335724043

In [ ]:
import numpy as np
root_mean_square_error  =np.sqrt(mean_squared_error)
print("Root mean Square Error : ", root_mean_square_error)

Root mean Square Error :  1.7470277426453205