<a href="https://colab.research.google.com/github/joshuaashley007/joshuaashley007/blob/main/FOR%20LOOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=[10,20,30,40,50]
print(x)
print(type(x))
print(x[0])
print(x[-4])

[10, 20, 30, 40, 50]
<class 'list'>
10
20

In [ ]:
x=[10,20,30,40]
y=[35,46,22,96]
x[0]*y[0]+x[1]*y[1]+x[2]*y[2]+x[3]*y[3]

5770

In [ ]:
x=['Kerala','Tamil Nadu']
y=['Chennai','Trivandrum']
print(x[0],y[1])
print(x[1],y[0])
print(x[0]+' is in '+y[1])

Kerala Trivandrum
Tamil Nadu Chennai
Kerala is in Trivandrum

In [ ]:
x[-1]

'Tamil Nadu'

In [ ]:
print(y[-2])

Chennai

In [ ]:
x=[10,25,26,36,39,55]
print(x[-3])

36

In [ ]:
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])
print(x[-6])

55
39
36
26
25
10

In [ ]:
print(x[-5]*x[-3])

900

In [ ]:
if x[3]==10:
  print('yes')
else:
  print('NO')

NO

In [ ]:
if x[2]==100:
  print('yes it is 100')
else:
  print('not 100')

not 100

In [ ]:
if x[-1]==55:
  print('yes ,it is 55')
else:
  print('no,it is not 55')

yes ,it is 55

In [ ]:
x='Joshua Abraham Ashley'
print(x[0])

J

In [ ]:
print(x[3])

h

In [ ]:
print(x[-1])

y

In [ ]:
if x[0]==x[-1]:
  print('yes, the letters are same')
else:
  print('no,the letters are not same')

no,the letters are not same

In [ ]:
x=[10,25,26,36,39,55]
for a in x:
  print(a)

10
25
26
36
39
55

In [ ]:
x='JOSHUA ABRAHAM ASHLEY'
for a in x:
  print(a)

J
O
S
H
U
A

A
B
R
A
H
A
M

A
S
H
L
E
Y

In [48]:
x=['joshua abraham ashley']
for a in x:
  if a=='i':
    print('yes')
  else:
    print('no i in my name')

no i in my name

In [54]:
x=[10,25,26,36,39,55]
k=0
for a in x:
  k=k+a
print(k)

191