<a href="https://colab.research.google.com/github/joshuaashley007/joshuaashley007/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
x=int(input('enter the number to display the corresponding multiple'))
for i in range(1,11,1):
  print(x,'*',i,'=',i*x)

enter the number to display the corresponding multiple5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
x=input('enter passenger name')
for i in x:
  print(i)

enter passenger namejho
j
h
o

In [16]:
x=input('enter a digit')
y=0
for i in x:
  y=y+1
print(y)

enter a digit21323123234
11

In [17]:
x=int(input('enter a number'))
i=1
while (i<=10):
  print(x*i)
  i+=1

enter a number2
2
4
6
8
10
12
14
16
18
20

In [24]:
x=input('enter a word')
if x=x.lower():
  x=x.upper
  print(x)

SyntaxError: ignored