<a href="https://colab.research.google.com/github/joshuaashley007/joshuaashley007/blob/main/questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input('enter travel source ')
y=input('enter travel destinatoin ')
z=int(input('enter number of passengers '))
print('TRAVEL SOURCE =',x)
print('TRAVEL DESTINATION =',y)
print('NUMBER OF STUDENTS',z)

enter travel source goa
enter travel destinatoin kochi
enter number of passengers 5
TRAVEL SOURCE = goa
TRAVEL DESTINATION = kochi
NUMBER OF STUDENTS 5

In [ ]:
x=int(input('enter the total amount'))
y=int(input('enter number of passengers'))
z=x/y
print('fare per person',z)

enter the total amount10000
enter number of passengers34
fare per person 294.11764705882354

In [ ]:
x=0
while x<5:
  z=input('ENTER PASSENGER NAME')
  y=int(input('ENTER TICKET FARE'))
  print('passengers name',z,'fare',y)
  x=x+1

ENTER PASSENGER NAMEjidhu
ENTER TICKET FARE34
passengers name jidhu fare 34
ENTER PASSENGER NAMEjosha
ENTER TICKET FARE23
passengers name josha fare 23
ENTER PASSENGER NAMEjidhu
ENTER TICKET FARE234
passengers name jidhu fare 234
ENTER PASSENGER NAMEfrg
ENTER TICKET FARE465
passengers name frg fare 465
ENTER PASSENGER NAMEsdf
ENTER TICKET FARE34
passengers name sdf fare 34

In [ ]:
x=int(input('enter total fare'))
if x>10000:
  print('eligible for discount')
else:
  print('not eligible for discount')

enter total fare8676
not eligible for discount

In [ ]:
x=int(input('enter total fare'))
if x>15000:
  print('eligible for 20% discount')
else:
  print('eligible for 10% discount')

enter total fare120
eligible for 10% discount

In [ ]:
x=int(input('enter total fare'))
if x>15000:
  z=x-x*20/100
  print('the total amount is',x)
  print('discounted fare is',z)
if x>10000 and x<15000:
  q=x-x*10/100
  print('the total fare',x)
  print('the discounted fare is',q)
if x<10000:
  w=x-x*5/100
  print('the total fare',x)
  print('the discounted fare is',w)

enter total fare567567
the total amount is 567567
discounted fare is 454053.6

In [ ]:
x=int(input('enter number'))
if x>0:
  print('number is positive')
elif x<0:
  print('number is negative')
else:
  print('number is zero')

enter number0
number is zero

In [ ]:
x=int(input('enter age'))
if x>18:
  print('adult')
elif x>13 and x<19:
  print('teenager')
elif x>6 and x>12:
  print('kid')
elif x>2 and x<5:
  print('toddler')
else:
  print('infant')

entyer age6
infant

In [ ]:
x=input('enter the initial')
if x=='a':
  print('vowel')
elif x=='e':
  print('vowel')
elif x=='i':
  print('vowel')
elif x=='o':
  print('vowel')
elif x=='u':
  print('vowel')
else:
  print('not a vowel')

enter the initialp
not a vowel

In [ ]:
x=input('enter full name')
for i in x:
  print(i)

In [ ]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [ ]:
j=0
for i in range(1,11):
  j=j+i
  print(j)

1
3
6
10
15
21
28
36
45
55

In [40]:
i=0
while i<3:
  x=input('enter name')
  y=int(input('enter age'))
  i=i+1
  print(x)
  print(y)

cgh
567
cghfgjh
567
enter nameVJH